In [1]:
import pandas as pd
import numpy as np
inputfile = "../Data/train_flatten.csv"
outputfile = '../Data/train_flatten_with_ts.csv'

In [2]:
df = pd.read_csv(inputfile, delimiter=',', skipinitialspace=True)

/Users/bpc_msds2019/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

stealing the Kaggle way....

In [3]:
df.sort_values(['fullVisitorId', 'visitStartTime'], ascending=True, inplace=True)
df['last_session_1'] = (
    df['visitStartTime'] - df[['fullVisitorId', 'visitStartTime']].groupby('fullVisitorId')['visitStartTime'].shift(1)
)

In [4]:
df['next_session_1']=(
    -1*(df['visitStartTime'] - df[['fullVisitorId', 'visitStartTime']].groupby('fullVisitorId')['visitStartTime'].shift(-1))
)

In [5]:
df[['fullVisitorId','visitStartTime','visitNumber','next_session_1','last_session_1']]

,fullVisitorId,visitStartTime,visitNumber,next_session_1,last_session_1
482998,4823595352351,1478011510,1,NaN,NaN
211023,5103959234087,1471817208,1,NaN,NaN
230774,10278554503158,1477029466,1,NaN,NaN
89784,20424342248747,1480578901,1,NaN,NaN
428073,26722803385797,1496658394,1,NaN,NaN
683463,27376579751715,1486866293,1,NaN,NaN
243539,33471059618621,1480289088,1,NaN,NaN
717939,35794135966385,1484916385,1,NaN,NaN
648840,39460501403861,1490629516,1,NaN,NaN
683201,40862739425590,1486836571,1,2253.0,NaN
683316,40862739425590,1486838824,2,NaN,2253.0
280624,45417921646651,1485556332,1,NaN,NaN
881611,47810105303746,1476888945,1,NaN,NaN
677622,48421062322244,1499992384,1,NaN,NaN
881850,52246474382344,1476863156,1,NaN,NaN
570144,58970809397690,1489065897,1,NaN,NaN
217377,61609983499251,1490138847,1,NaN,NaN
900218,62267706107999,1499645960,1,NaN,NaN
203314,62349695125717,1496817240,1,NaN,NaN
489755,63834990385751,1477946120,1,NaN,NaN
372990,64767209884626,1497832351,1,17021.0,NaN
372501,64767209884626,1497849372,2,NaN,17021.0
384318,68403966359845,1491281649,1,NaN,NaN
134870,72202462202136,1484513468,1,NaN,NaN
478135,75746323734481,1470830877,1,NaN,NaN
580894,77980744724824,1479367746,1,NaN,NaN
89702,82001414223176,1480566887,1,NaN,NaN
697376,85059828173212,1500505105,1,NaN,NaN
73274,90085033332104,1497729905,1,NaN,NaN
77730,90134415725564,1471724127,1,NaN,NaN
...,...,...,...,...,...
494210,9993293961944331752,1475088236,1,NaN,NaN
422617,9993447781413571788,1473849926,1,NaN,NaN
500234,9993684024735783106,1476739741,1,NaN,NaN
492860,9993694779128450201,1474741912,1,NaN,NaN
499129,9993701862089701718,1476765278,1,NaN,NaN
61758,9994157350704454276,1472675960,1,NaN,NaN
423597,9994221968851351416,1473860607,1,NaN,NaN
416007,9994287830486076662,1480965606,1,NaN,NaN
411475,9994752083639387618,1492201085,1,NaN,NaN
503414,9995055493309539077,1482454367,1,NaN,NaN
505764,9995884236248287794,1473128482,1,NaN,NaN
422738,9996299359396130241,1473848501,3,NaN,NaN
412380,9996436469769693414,1492224982,3,NaN,NaN
498743,999662588290514293,1476722634,1,NaN,NaN
495118,9996707176741780711,1475077805,1,NaN,NaN
52787,9996938340224171184,1476494977,1,NaN,NaN
52239,9997442734352997421,1476452200,1,NaN,NaN
64916,9997536057704001970,1501626270,1,NaN,NaN
49954,9997824979262110959,1498324797,1,NaN,NaN
503946,9997962478838273085,1482456209,1,NaN,NaN
423179,9997988284201360522,1473918911,1,NaN,NaN
412436,999814635208236250,1492155552,1,NaN,NaN
413456,9998392565533703052,1489437725,1,NaN,NaN
423470,9998628427098906629,1473890519,1,NaN,NaN
54811,9999355589118867468,1496052473,2,NaN,NaN
494305,9999470222842102470,1475061904,1,NaN,NaN
499497,9999493741609373843,1476726072,1,NaN,NaN
424106,9999607385222235728,1473874092,1,NaN,NaN
494103,9999761280717362235,1475082468,1,NaN,NaN
413400,9999963186378918199,1489416546,1,NaN,NaN

In [6]:
df.to_csv(outputfile, sep=',')